/*
* Sample Sift CSS
*/

/* Disable selection/Copy of UIWebView to improve navigation */
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.treemap .node {
  font-size: 12px;
  line-height: 100%;
  overflow: hidden;
  position: absolute;
  text-indent: 1%;
  transition: background 1s;
  transition: color 0.5s;
  text-anchor: middle;
  border-width: 1px;
  border-color: white;
  border-style: solid
  box-sizing: border-box;
  text-anchor: middle;
  text-align: center;
}

.node-child {
  margin: auto;
  width: 50%;
  height: 100%;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
