/*
* Sample Sift CSS
*/

/* Disable selection/Copy of UIWebView to improve navigation */
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Body style */
body {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	margin: 0 auto;
}

.treemap .node {
  font-size: 12px;
  line-height: 100%;
  overflow: hidden;
  position: absolute;
  text-indent: 1%;
  transition: background 1s;
  transition: color 0.5s;
  text-anchor: middle;
}
